<div class="event">
  <div class="content">
    <div class="summary">
      <em class="usermsg"><%= message.user.username.capitalize %></em>: <p class="msg"><%= message.body %></p>
    </div>
  </div>
</div>