<div class="event">
  <div class="content">
    <div class="summary">
    <em class="usermsg"> <%= message.user.username.capitalize %></em>: <em class="msg"><%= message.body %></em>
    </div>
  </div>
</div>